/* Fonts */
$f-main    : 'roboto-regular',sans-serif;
$f-medium  : 'roboto-medium' ,sans-serif;
$header-title : 'raleway-bold',sans-serif;

/* font sizes */
$size-small  : 0.75rem;
$size-medium : 0.9rem;

/*button font sizes */
$f-btn-medium : 0.9rem;
$f-btn-small  : 0.75rem;


/* Colors */
$primary-clr   : #747BBC;
$body-clr   : #48494D;
$secondary-clr :#FF0861;
$body-bg:#f6f7ff;
$gray-clr:#969696;

$pos-bg:#F4F5FF;
$white-bg: #fff;
$font-clr: #646464;

 
/*background*/
$grey:#818e94;



