/* 1 - HELPERS */

@import "1-helpers/variables";

/* 2 - LAYOUT 
@import "2-layout/common";*/

@import "2-layout/nav";

/* 3 - COMPONENTS */

// @import "3-components/buttons";
@import "3-components/alert";
// @import "3-components/forms";

/* 4 - MEDIA 
@import "5-media/common";*/

.main-bg {
    background-color: $pos-bg;
}

.btn-group-vertical {
    position: absolute;
    left: 0;
    z-index: 99;
    .nav-pills .nav-link {
        background-color: $white-bg;
        border: 1px solid $grey;
        writing-mode: vertical-rl;
        border-radius: 0 16px 16px 0;
        margin-bottom: 15px;
        height: 18%;
        color: $font-clr;
    }
}

.nav-pills .nav-link.active {
    background-color: $secondary-clr;
    border: none;
    color: $white-bg;
}


/*SearchGrid*/

.has-search .form-control {
    padding-left: 2.4rem;
    font-size: 1.2rem;
}

.has-search1 .form-control {
    padding-left: 2.4rem;
    font-size: 1rem;
    border-radius: 2.5rem;
    margin-top: .4rem;
}

.form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.8rem;
    text-align: center;
    pointer-events: none;
}

.form-control-feedback1 {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 3rem;
    text-align: center;
    pointer-events: none;
}

.btn-outline-pink,
.btn-outline-pink:focus {
    background: #fff;
    border: 1px solid #FF0861;
    border-radius: 5px;
    font-weight: bold;
    color: #FF0861;
}

.item-details {
    label {
        font-size: x-small;
        font-weight: 500;
    }
    p {
        font-size: $size-medium;
        font-weight: 500;
    }
}

.btn-bg {
    .input-group-text {
        background-color: $pos-bg;
        font-size: 0.9rem;
    }
}

.img-center {
    max-width: 50%;
    margin: 10px auto;
}

.shopping-wrap {
    height: 580px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.ops {
    height: 700px;
    overflow-y: auto;
    overflow-x: hidden;
}

.owl-carousel {
    .owl-item {
        img {
            width: 75% !important;
            border: none;
        }
    }
}

.owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    top: -50px;
    left: 0;
    right: auto;
}

.owl-carousel .owl-nav button.owl-next {
    position: absolute;
    top: -50px;
    left: auto;
    right: 0;
}

.owl-carousel {
    .owl-nav button.owl-prev,
    .owl-nav button.owl-next {
        font-size: 300px;
    }
}

.desk-hide {
    .owl-carousel {
        .owl-item img {
            width: 75% !important;
            border: none;
        }
        .owl-nav button.owl-prev {
            position: absolute;
            top: -125px;
            left: -24px;
            right: auto;
            font-size: 50px !important;
        }
        .owl-nav button.owl-next {
            position: absolute;
            top: -125px;
            left: auto;
            right: -24px;
            font-size: 50px !important;
        }
    }
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background-color: transparent;
    color: black;
}


/*Items*/

.Items-grid {
    padding-left: 0 !important;
}

.btn-outline-pink-modal {
    background: #ff0861;
    border: 1px solid #646464;
    box-sizing: border-box;
    border-radius: 10px 10px !important;
    color: #ffffff;
}

.bills li .nav-link {
    font-family: $header-title;
    background-color: #ffffff;
    border: 1px solid #ff0861;
    border-radius: 10px 10px 0px 0px;
    color: black;
    margin-right: 5px;
    /* transform: skewX(5deg); */
}

.bills li .nav-link.active {
    background-color: #ff0861;
    border-radius: 10px 10px 0px 0px;
    color: #fff;
    margin-right: 5px;
    /* transform: skewX(5deg); */
}

::-webkit-scrollbar {
    width: 5px;
}

thead {
    background-color: #d3dfff;
    tr {
        th {
            border: none;
        }
    }
}

table {
    tr {
        td {
            text-align: center;
        }
    }
}

.table-scroll {
    max-height: 460px;
    overflow-y: auto;
    overflow-x: hidden;
}

.item-category {
    div {
        div {
            border-radius: 10px;
        }
    }
}

.child {
    .child {
        text-align: end;
    }
}

.col-lg-1 {
    width: 5.3333%;
}

@media only screen and (max-width: 990px) {
    .btn-mobile {
        margin-top: 10px;
    }
}

@media only screen and (min-width: 760px) {
    .desk {
        display: none;
    }
}

@media only screen and (max-width: 759px) {
    .col-lg-1,
    .desk-hide {
        display: none;
    }
    .desk,
    .fixed-bottom {
        display: flex;
    }
    .nav-pills .nav-link.active {
        border: 1px solid #ff0861;
        border-radius: 0px;
    }
    .nav-pills .nav-link {
        border: 1px solid #ff0861;
        border-radius: 0px;
        color: black;
    }
    .fixed-bottom {
        h4 {
            background-color: #ff0861;
            color: #fff;
        }
    }
}

.input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.icon-container #menuicon {
    top: 34%;
}

.icon-container {
    float: left;
    left: 10%;
}

.mobile-menu .header {
    z-index: 9;
}

table.dataTable thead th,
table.dataTable thead td {
    padding: .5rem;
}

.custtbl tr td {
    text-align: left;
}

.modal-md {
    max-width: 1000px !important;
}

.pt-8 {
    padding-top: .8rem;
}

.popover-body {
    text-align: end;
}

.br-clr {
    border-color: #ced4da;
}

.btn-outline-secondary:hover {
    .btn-check:active+.btn-outline-secondary {
        .btn-check:checked+.btn-outline-secondary {
            .btn-outline-secondary.active,
            .btn-outline-secondary.dropdown-toggle.show,
            .btn-outline-secondary:active,
            .btn-outline-secondary:focus {
                color: #000;
                border-color: #6c757d;
                background-color: #fff;
            }
        }
    }
}

.btn-focus:focus {
    // color: #000 !important;
    background-color: #ff0861;
}

.fs-12 {
    font-size: 1.2rem;
}

.input-group input[type='button'] {
    background-color: #eeeeee;
    min-width: 30px;
    width: auto;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.input-group .button-minus,
.input-group .button-plus {
    font-weight: bold;
    height: 20px;
    padding: 0;
    width: 38px;
    margin-top: 0.4rem;
    position: relative;
    border-radius: 0;
}

.input-group .quantity-field {
    position: relative;
    height: 20px;
    left: 30px;
    text-align: center;
    width: 40px;
    display: inline-block;
    font-size: 13px;
    margin-right: 60px;
    font-weight: 300;
    resize: vertical;
}

.input-group input {
    border: 1px solid #eeeeee;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 10px;
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

.bg-lightest {
    background-color: #eeeeee;
}

.top-s {
    margin-top: -2%;
    background-color: #F4F5FF;
    width: 5rem;
}

.w-45 {
    max-width: 45rem;
    margin-left: 15px;
}

.check .active {
    border-color: #86b7fe;
    outline: 0;
    border-width: 2px;
}

.mw-450 {
    max-width: 450px;
}

.otp-input input {
    line-height: 2.5rem;
    width: 3rem;
}

.py-7 {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button::after {
    background-image: url(../img/icons/posUP-ARROW.svg);
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../img/icons/posUP-ARROW.svg);
}
.card-select:hover, .card-active{
    border: 1px solid #ff0861;
}
.mw-90px{
    min-width: 90px;
}